.card {
    background: black;
    border-radius: 2px;
    height: 100%;
    margin: 1rem;
    width: 325px;
    box-shadow: 0 3px 6px whitesmoke;
    text-align: left; 
}

.card > .img-container {
    height:60%;
    overflow:hidden;
    text-align:center;
    background:lightgray;
}

.card > .img-container > img {
    width: 60%;
}